<div class="details">
    <h1>BohConf is back!</h1>
    <h2>April 23rd - 25th</h2>
    <p>We've got 2 rooms at the Hilton for everybody's favorite unconf. No badge required.</p>

    <p><%= link_to 'http://plancast.com/p/a137/bohconf-3', 'http://plancast.com/p/a137/bohconf-3' %></p>
</div>