<div class="details">
    <h1>2012 RailsConf 5K!</h1>
    <h2>April 25th 7:00am</h2>
    <p>Register Now on <a href="http://www.eventbrite.com/event/3261101041">EventBrite</a></p>
 
    <p><img src="http://maps.googleapis.com/maps/api/staticmap?center=Congress%20and%20Cesar%20Chavez,Austin,TX&zoom=15&size=512x512&maptype=roadmap&markers=color:blue%7Clabel:A%7C30.2625,-97.74425&sensor=false"/></p>

    <p>Stretch your legs and join the locals on Austin's Lady Bird Lake trail!</p>

<!-- Start MMF Embed Tool -->
<iframe id="mmf_blog_map" src="http://www.mapmyrun.com/routes/view/embedded/76308510" height="450px" width="550px" frameborder="0">
<a href="http://www.mapmyrun.com/routes/view/embedded/76308510">Lady Bird Lake 5K Out and Back </a><br/>
<a href="http://www.mapmyrun.com/routes/?location=Austin, TX">Find more Run in Austin, TX</a>
</iframe><br />
<a href="http://www.mapmyrun.com/routes/?location=Austin, TX">Find more Run in Austin, TX</a>
<!-- End MMF Embed Tool -->

</div>
