<div class="details">
    <h1>2012 RailsConf 5K!</h1>
    <h2>April 25th 7:30am</h2>
    <p><img src="http://maps.googleapis.com/maps/api/staticmap?center=Congress%20and%20Cesar%20Chavez,Austin,TX&zoom=15&size=512x512&maptype=roadmap&markers=color:blue%7Clabel:A%7C30.2625,-97.74425&sensor=false"/></p>

    <p>Stretch your legs and join the locals on Austin's Lady Bird Lake trail!</p>
</div>