<div class="details">
    <h1>Austin on Rails Happy Hour</h1>
    <h2>April 22nd 9:00pm @ Buffalo Billiards</h2>
    
    <p><%= link_to 'REGISTER for Happy Hour!', 'http://aorhappy-railsconf2012.eventbrite.com/', :class => 'action' %></p>
    <p>Austin on Rails welcomes the Rails community to Austin for RailsConf 2012! Come on over to Buffalo Billiards on historic 6th Street for a welcome to Austin happy hour after Ignite RailsConf. Throw back a couple beers, shoot some pool, and chat with fellow Rails developers from all over the world. It should be a blast!</p>
    <h3>We would like to thank our generous sponsors Heroku, Mass Relevance, and Spiceworks for making this possible.</h3>
    <p>Please check out the rest of this site to learn about other fun activities happening around RailsConf. <strong>Thanks!</strong></p>
	
</p>
    
</div>