<div class="details">
    <h1>Austin on Rails Happy Hour</h1>
    <p>April 22nd 9:00pm @ Buffalo Billiards</p>

    <p><%= link_to 'http://plancast.com/p/a12p/austin-rails-railsconf-bash', 'http://plancast.com/p/a12p/austin-rails-railsconf-bash' %></p>
</div>