<div class="details">
    <h1>Austin on Rails Happy Hour</h1>
    <p>April 22nd 9:00pm @ Buffalo Billiards</p>

<p>Registration link ---> <%= link_to 'http://aorhappy-railsconf2012.eventbrite.com/', 'http://aorhappy-railsconf2012.eventbrite.com/' %></p>

<p>
Austin on Rails welcomes the Rails community to Austin for RailsConf 2012!

Come on over to Buffalo Billiards on historic 6th Street for a welcome to Austin happy hour after Ignite RailsConf.

Throw back a couple beers, shoot some pool, and chat with fellow Rails developers from all over the world.

Should be a blast!

We would like to thank our generous sponsors Heroku, Mass Relevance, and Spiceworks for making this possible.

Please check out community events site for all the other actiivities happening around RailsConf.  Thanks!
	
</p>
    
</div>