<div class="details">
    <h1>RailsConf Ignite</h1>
    <h2>April 22nd 6:00pm - 9:00pm</h2>

    <p>5 minutes, 20 slides. What would you say?</p>
    <p>At every Ignite, 16 artists, technologists, thinkers, and personalities</p>
    <p>will take the stage to answer this challenge.</p>

    <p><%= link_to 'Submit your idea for a talk!', new_speaker_path, :class => 'btn btn-large btn-primary' %></p>
</div>