<div class="details">
    <h1>RailsConf Ignite</h1>
    <h2>April 22nd 6:00pm - 9:00pm</h2>

    <p><%= link_to 'http://plancast.com/p/a12y/ignite-railsconf-3', 'http://plancast.com/p/a12y/ignite-railsconf-3' %></p>
</div>