
      <div class="introduction">
        <h2>We're very excited to welcome <b>RailsConf 2012</b> to Austin, Texas, April 23 through 25.<br />
          Austin on Rails has planned several events and services to make your visit more enjoyable.</h2>
      </div>

      <div class="sponsors">
        <h1 class="heading">Brought to you by these generous sponsors:</h1>
        <ul>
          <li><a href="http://otherinbox.com/"><%= image_tag "sponsor-otherinbox.png" %></a></li>
          <li><a href="http://massrelevance.com/"><%= image_tag "sponsor-massrelevance.png" %></a></li>
          <li><a href="http://heroku.com/"><%= image_tag "sponsor-heroku.png" %></a></li>
          <li><a href="http://att.com/"><%= image_tag "sponsor-att.png" %></a></li>
        </ul>
        <p>If you'd like to sponsor our community events, please email <a href="mailto:sponsors@austinonrails.org">sponsors@austinonrails.org</a>.</p>
      </div> <!-- /.sponsors -->

      <div class="events">
        <h1 class="heading">Events and Services:</h1>
        <ul class="eventlist">
          <li class="event">
            <h1>BohConf</h1>
            <p>At BohConf, we're going to get our hands dirty writing code and sharing ideas in an open and free-form environment. <b>Everyone is welcome</b> at BohConf.</p>
            <a class="ir" href="/bohconf">Learn More &raquo;</a>
          </li>

          <li class="event">
            <h1>Ignite RailsConf</h1>
            <p><b>Five minutes, 20 slides. What would you say?</b> 16 artists, technologists, thinkers and personalities will take the stage to answer this challenge.</p>
            <a class="ir" href="/ignite">Learn More &raquo;</a>
          </li>

          <li class="event">
            <h1>RailsConf 5k</h1>
            <p><b>Stretch your legs</b> and join the locals on Austin’s Lady Bird Lake Trail!</p>
            <a class="ir" href="/5k">Learn More &raquo;</a>
          </li>

          <li class="event">
            <h1>Stay With A Local</h1>
            <p>If you’re coming to town, you might want to <b>Stay With A Local</b>.</p>
            <a class="ir" href="/stay">Learn More &raquo;</a>
          </li>

          <li class="event">
            <h1>Talk With A Local</h1>
            <p><b>Talk With A Local</b> if you have any questions about the town or the events. Even if you just want to know good places to eat or get coffee.</p>
            <a class="ir" href="/talk">Learn More &raquo;</a>
          </li>

          <li class="event">
            <h1>Kids Code Camp</h1>
            <p>We’re helping to teach <b>kids to code!</b> Sessions on Ruby, iOS development and general web development, among others!</p>
            <a class="ir" href="/kids">Learn More &raquo;</a>
          </li>

          <li class="event">
            <h1>A.o.R. Happy Hour</h1>
            <p>Join us the night before the conference begins for the <b>Welcome to Austin Happy Hour!</b></p>
            <a class="ir" href="/happy">Learn More &raquo;</a>
          </li>

          <li class="event">
            <h1>Visiting Usergroups</h1>
            <p>Lots of people will be in town- find out more about <b>visiting usergroups</b>.</p>
            <a class="ir" href="/usergroups">Learn More &raquo;</a>
          </li>

          <li class="event">
            <h1>Sponsor An Event</h1>
            <p>See an event you’d like to be involved with? <b>Sponsor an event</b> and help your event be a success!</p>
            <a class="ir" href="/sponsors">Learn More &raquo;</a>
          </li>
        </ul> <!-- /.eventlist -->
      </div> <!-- /.events -->

