<div class="details">
    <h1>Kids Code Camp</h1>
    <h2>April 22nd</h2>
    <p>Help teach kids to code!</p>
    <p><%= link_to 'http://plancast.com/p/a132/kids-code-camp-railsconf', 'http://plancast.com/p/a132/kids-code-camp-railsconf' %></p>
</div>