<div class="details">
    <img src="assets/kidscodecamp-logo.png" \>
    <h1>Kids Code Camp - SOLD OUT</h1>
    <h2>April 22nd</h2>
    <section class="grouped">
        <h1>We Want YOU For KidsCodeCamp!</h1>
        <p>Did you ever want to make a videogame, program a robot, or create a web site? Now you can!</p>
        <p>Come to KidsCodeCamp, a free one-day event to learn how to use computers and technology to make things that do whatever you want.</p>
        <p>KidsCodeCamp at RailsConf 2012 will take place on April 22, 2012 at the Austin Hilton from 9:30 AM to 4:30 PM.</p>
        <p>Here is how KidsCodeCamp works:</p>
        <ol>
            <li>Local volunteers will run classes intended for a particular age group (elementary, middle, or high-school age kids). Each class is from 1 to 2 hours long.</li>
            <li>Kids register for free, just so everyone knows how many people will be coming.</li>
            <li>Everyone has fun on the day of KidsCodeCamp!</li>
        </ol>
        <h3>YOU MUST BRING A PORTABLE COMPUTER TO ATTEND! Does not matter which kind, PC or MAC... SORRY NO iPADS/iPODS.</h3>
        <p>Each kid will receive a free USB drive with Open Source* software to use at KidsCodeCamp. Afterwards, they can be used at home, school, or wherever.</p>
        <h3>We need more MENTORS! If you are a computer programmer (particularly with Ruby, Scratch, and iOS) interested in helping kids, please sign up below.</h3>
        <p><%= link_to 'Signup here to attend, or to help volunteer', 'http://kidscodecamp-railsconf2012.eventbrite.com/', :class => 'action' %></p>
    </section>
</div>
