<div class="details">
    <h1>Sponsor an Event</h1>
    <p>We'd love to have you as a sponsor for one of these community events:</p>
    <p><%= link_to 'SEND us an email to railsconf@austinonrails.org', 'mailto:railsconf@austinonrails.org', :class => 'action' %></p>
</div>