<div class="details">
    <h1>Visiting Usergroups</h1>
    <p>We're collecting a list of all the user groups attending RailsConf: </p>

   <table width="100%">
	  <tr>
	    <th width="33%">Name</th>
	    <th width="33%">Twitter</th>
	    <th width="34%">URL</th>
	  </tr>  

   	  <tr>
	    <td>Asheville.rb</td>
	    <td>&nbsp;</td>
	    <td>&nbsp;</td>
	  </tr>

	  <tr>  
	    <td>ATLRUG</td>
	    <td><a href="http://twitter.com/atlrug">@atlrug</a></td>
	    <td>&nbsp;</td>
	  </tr>

   	  <tr>
	    <td>Austin on Rails</td>
	    <td><a href="http://twitter.com/austinonrails">@austinonrails</a></td>
	    <td><a href="http://austinonrails.org">austinonrails.org</a></td>
	  </tr>

	  <tr>
	    <td>Bmore on Rails</td>
	    <td><a href="http://twitter.com/bmoreonrails">@bmoreonrails</a></td>
	    <td><a href="http://bmoreonrails.org/">bmoreonrails.org</a></td>
	  </tr>

	  <tr>
	    <td>Charlotte Ruby</td>
	    <td><a href="http://twitter.com/cltrb">@cltrb</a></td>
	    <td><a href="http://charlotteruby.org/">charlotteruby.org</a></td>
	  </tr>

	  <tr>
	    <td>ChicagoRuby</td>
	    <td><a href="http://twitter.com/ChicagoRuby">@ChicagoRuby</a></td>
	    <td><a href="http://chicagoruby.org/">chicagoruby.org</a></td>
	  </tr>

	  <tr>
	    <td>Cincinnati.rb</td>
	    <td><a href="http://twitter.com/cincinnatirb">@cincinnatirb</a></td>
	    <td><a href="http://cincyrb.com">cincyrb.com</a></td>
	  </tr>

	  <tr>
	    <td>Dallas Ruby Brigade</td>
	    <td><a href="http://twitter.com/dallasruby">@dallasruby</a></td>
	    <td><a href="http://dallasrb.org">dallasrb.org</a></td>
	  </tr>

      <tr>
	    <td>Mad-Railers</td>
	    <td><a href="http://twitter.com/madrailers">@madrailers</a></td>
	    <td>&nbsp;</td>
	  </tr>

      <tr>
	    <td>newhaven.rb</td>
	    <td><a href="http://twitter.com/newhavenrb">@newhavenrb</a></td>
	    <td><a href="http://newhavenrb.org/">newhavenrb.org</a></td>
	  </tr>

      <tr>
	    <td>NYC on Rails</td>
	    <td>&nbsp;</td>
	    <td><a href="http://meetup.com/NYC-On-Rails">meetup.com/NYC-On-Rails</a></td>
	  </tr>
	
	  <tr>
	    <td>nyc.rb</td>
	    <td>&nbsp;</td>
	    <td><a href="http://nycruby.org/">nycruby.org</a></td>
	  </tr>

	  <tr>
	    <td>OC Ruby</td>
	    <td>&nbsp;</td>
	    <td><a href="http://ocruby.com/">ocruby.org</a></td>
	  </tr>

   	  <tr>
	    <td>Philly.rb</td>
	    <td><a href="http://twitter.com/phillyrb">@phillyrb</a></td>
	    <td><a href="http://phillyrb.org/">phillyrb.org/</a></td>
	  </tr>

	  <tr>
	    <td>RailsMX</td>
	    <td><a href="http://twitter.com/railsmx">@railsmx</a></td>
	    <td><a href="http://rails.mx">rails.mx</a></td>
	  </tr>

	  <tr>
	    <td>Ruby::AZ</td>
	    <td><a href="http://twitter.com/rubyaz">@rubyaz</a></td>
	    <td><a href="http://www.rubyaz.org">www.rubyaz.org</a></td>
	  </tr>
	
      <tr>
	    <td>RubyJax</td>
	    <td><a href="http://twitter.com/ruby_jax">@ruby_jax</a></td>
	    <td><a href="http://www.rubyjax.com/">www.rubyjax.com</a></td>
	  </tr>

   	  <tr>
	    <td>Ruby Taiwan</td>
	    <td><a href="http://twitter.com/rubytaiwan">@rubytaiwan</a></td>
	    <td><a href="http://ruby-taiwan.org">ruby-taiwan.org</a></td>
	  </tr>

	  <tr>
	    <td>SD Ruby</td>
	    <td><a href="http://twitter.com/sdruby">@sdruby</a></td>
	    <td><a href="http://sdruby.org">sdruby.org</a></td>
	  </tr>

	  <tr>
	    <td>TOKYO Rails</td>
	    <td><a href="http://twitter.com/tokyorails">@tokyorails</a></td>
	    <td><a href="http://www.tokyorails.org">www.tokyorails.org</a></td>
	  </tr>
	</table>
	<br />
	<p><a href="https://docs.google.com/spreadsheet/viewform?formkey=dE5WOU5KakVvN25tbDJMT2J0Ykt5Snc6MQ" class="action">ADD a user group here!</a></p>
	<p class="clearfix"><a href="https://github.com/austinonrails/railsconf/edit/master/app/views/pages/usergroups.html.erb" class="action">SUBMIT a pull request!</a></p>
</p>
</div>
