<div class="details">
    <h1>Visiting Usergroups</h1>
    <p>We're collecting a list of all the user groups attending RailsConf: </p>

   <table>
	  <tr>
	    <th>Name</th>
	    <th>Twitter</th>
	    <th>URL</th>
	  </tr>  
	
   	  <tr>
	    <td>Austin on Rails</td>
	    <td><a href="http://twitter.com/austinonrails">@austinonrails</a></td>
	    <td><a href="http://austinonrails.org">austinonrails.org</a></td>
	  </tr>
	
	  <tr>  
	    <td>ATLRUG</td>
	    <td><a href="http://twitter.com/atlrug">@atlrug</a></td>
	    <td></td>
	  </tr>

	  <tr>
	    <td>Dallas Ruby Brigade</td>
	    <td><a href="http://twitter.com/dallasruby">@dallasruby</a></td>
	    <td><a href="http://dallasrb.org">dallasrb.org</a></td>
	  </tr>
	</table>
	
	  <tr>
	    <td>RailsMX</td>
	    <td><a href="http://twitter.com/railsmx">@railsmx</a></td>
	    <td><a href="http://rails.mx">rails.mx</a></td>
	  </tr>
	
	  <tr>
	    <td>TOKYO Rails</td>
	    <td><a href="http://twitter.com/railsmx">@tokyorails</a></td>
	    <td><a href="http://rails.mx">www.tokyorails.org</a></td>
	  </tr>
	
	</table>
	<hr/>
<p>   <a href="https://docs.google.com/spreadsheet/viewform?formkey=dE5WOU5KakVvN25tbDJMT2J0Ykt5Snc6MQ">add a user group here!</a> or <a href="http://github.com/austinonrails/railsconf">fork this</a> and change /app/views/pages/usergroups.html.erb!
</p>
</div>