<div class="details">
    <h1>Visiting Usergroups</h1>
    <p>We're collecting a list of all the user groups attending RailsConf: </p>

   <table>
	  <tr>
	    <th>Name</th>
	    <th>Twitter</th>
	    <th>URL</th>
	  </tr>  
   	  <tr>
	    <td>Austin on Rails</td>
	    <td><a href="http://twitter.com/austinonrails">@austinonrails</a></td>
	    <td><a href="http://austinonrails.org">austinonrails.org</a></td>
	  </tr>
	  <tr>  
	    <td>ATLRUG</td>
	    <td><a href="http://twitter.com/austinonrails">@atlrug</a></td>
	    <td></td>
	  </tr>
	</table>
	<hr/>
   <a href="https://docs.google.com/spreadsheet/viewform?formkey=dE5WOU5KakVvN25tbDJMT2J0Ykt5Snc6MQ">add a user group here!</a>
</div>