<section class="content">
	<h1>Tweet about BohConf Session</h1>

	<%= form_tag(send_tweet_bohconf_session_path(@bohconf_session)) do %>
		<%= text_area_tag :tweet_body, "##{@bohconf_session.session_type} #{'@'+@bohconf_session.host_twitter unless @bohconf_session.host_twitter.blank?} \"#{@bohconf_session.title}\" #{@bohconf_session.starts_at.strftime("%a %l:%M%p")} #{boh_short_url(@bohconf_session)}", :cols => 50, :rows => 5 %>
		<div class="charCount">
			<span id="characters-left" class="characters-left"></span> characters left
		</div>
		<%= submit_tag 'Tweeeet!', :class => 'tweeeet' %>
	<% end %>

	<script type="text/javascript">
		$(document).ready(function() {
			left = 140 - $('#tweet_body').val().length;
			$('#characters-left').text(left);
			
			$('#tweet_body').keyup(function() {
				left = 140 - $('#tweet_body').val().length;
				$('#characters-left').text(left);
			})
		})
	</script>
</section>