<div class="details">
    <h1>Thanks!</h1>

    <p>We'll be in touch soon to work out the details.</p>

    <p>If you have any questions, get in touch with <%= mail_to 'railsconf@austinonrails.org' %>.</p>
</div>